<div class="container-fluid ">
  <div class="outer-div">
    <div class="row outer-row">
      <div class="col-4">
        <div class="row outer-rowIn">
          <div class="leftSection">
            <img class="img-fluid" src="assets/TeacherHomeSlideImage/johnieMax.png" alt="johnie max">
          </div>
        </div>
      </div>
      <div class="col-7 offset-1">
        <div class="row">
          <div class="rightSection">
            <div class="welcome">
              <img class="img-fluid" src="assets/TeacherHomeSlideImage/welcomeIcon.png" alt="welcome">
            </div>
            <div id="demo" class="carousel slide" data-interval="5000" data-ride="carousel" data-pause="false">
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <!-- <li data-target="#demo" data-slide-to="3"></li>
                <li data-target="#demo" data-slide-to="4"></li>
                <li data-target="#demo" data-slide-to="5"></li> -->
              </ul>
              <div class="carousel-inner">
                <div class="carousel-item active" index='0'>
                  <img class="img-fluid" src="assets/TeacherHomeSlideImage/slider1.png" alt="slider-1">
                  <div class="carousel-caption">
                  </div>
                </div>
                <div class="carousel-item">
                  <img class="img-fluid" src="assets/TeacherHomeSlideImage/slider2.png" alt="slider-2">
                  <div class="carousel-caption">
                  </div>
                </div>
                <div class="carousel-item">
                  <img class="img-fluid" src="assets/TeacherHomeSlideImage/slide_01.png" alt="slider-3">
                  <div class="carousel-caption">
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon "></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>